:root {
    --arkaplan: hsl(212, 45%, 89%);
    --grimavi: hsl(220, 15%, 55%);
    --kapalimavi: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: var(--arkaplan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 1px);
}

.anayazi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    align-items: center;
    padding: 1.25rem;
    border-radius: 1.5em;
    width: 350px;
}

h1 {
    padding: 1.3rem 0 1.3rem 0;
    text-align: center;
    color: var(--kapalimavi);
}

div p {
    color: var(--grimavi);
    text-align: center;
    padding-bottom: 1rem;
}

.anayazi div img {
    border-radius: 1rem;
    max-width: 100%
}

.content {
    padding: 0 1.625rem 0 1.625rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 500px) {
    .anayazi {
        width: 400px;
    }
}